//Tables

$approved-color: #53c753;
$button-gen-color: #73b2dd;
$button-gen-hover-color: #146194;
$button-txt-color: #ffffff;
$button-warn-hover-color: #ec2c2c;
$font-color: #39434a;
$input-border-color: rgba(0,0,0, 0.25);
$table-border-color: #39434a;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}

%box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

%input-shared {
    background-color: #ffffff;
    border-color: $input-border-color;
    @include border-radius(4px);
    border-style: solid;
	border-width: 1px;
    padding: 10px;
}