// Dependencies
@import "normalize";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

/* ----------------------------------------------- */
*,
*::before,
*::after {
    @extend %box-sizing;
}

h1 {
    color: $font-color;
    font-size: 160%;
    margin: 0;
	padding: 0;
}

input,
textarea {
	@extend %input-shared;
    width: 80%;
}

select {
	@extend %input-shared;
}

button {
	background-color: $button-gen-color;
	border: none;
	@include border-radius(4px);
	color: $button-txt-color;
	font-weight: bold;
	font-size: 90%;
	letter-spacing: 0.02em;	
	padding: 10px;
    &:hover {
        background-color: $button-gen-hover-color;
    }
    &.delete_butt:hover {
        background-color: $button-warn-hover-color;
    }
}

table {
	border-collapse: collapse;
    border-spacing: 0;
    display: table;
	margin: 0;
	padding: 0;
    width: 100%;
    th, td {
        padding: 10px 20px 10px 0;
        text-align: left;
        vertical-align: middle;
    }
    &.add_task {
        margin-top: 35px;
        td {
            vertical-align: top !important;
        }
    }    
    tr {
        margin: 0;
        padding: 0;
        &.added {
            animation: added 2s;
        }
    }
}

.invalid_msg { 
    color:#F84072;
    font-size: 80%;
    padding: 4px 0 0;    
}

/* ----------------------------------------------- */
//General

#app {
    font: 100% 'Raleway', sans-serif;
    margin: 20px auto 50px;
    max-width: 1000px;
    padding: 0 15px;
    width: 100%;
}

p {
    color: $font-color; 
    font-size: 90%;
    line-height: 25px;
}

.results_container {
    margin: 20px 0 0 0;
    padding: 0;
    .results_options {
        border-top: $table-border-color solid 1px;
        border-bottom: $table-border-color solid 1px;
        margin: 0 0 10px 0;
        padding: 10px 0 10px 0;
    }
}

/* ----------------------------------------------- */
//Animations

@keyframes added {
    0% {
      background-color: $approved-color
    }
    100% {
      background-color: none;
    }
}